@model FindViewModel
@{
    ViewData["Title"] = "Find a Study Group";
}

<h1 class="page-title">Find a Study Group</h1>
@foreach(var courseStudyGroups in Model.Courses) {
<div class="row-fluid">
    <h3>@courseStudyGroups.Course.NameWithoutCourseId.ToTitleCase()</h3>
    @if (courseStudyGroups.StudyGroups.Count == 0) {
        <p><i>No study groups found.</i></p>
        <p>@Html.ActionLink("Create One", "Create", new {id = courseStudyGroups.Course.Id}, new{@class="btn btn-primary"})</p>
    }
    <div class="card-columns">
        @foreach(var studyGroup in courseStudyGroups.StudyGroups) {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@studyGroup.GroupTitle</h5>
                <p>
                    @studyGroup.StartTime.ToLongDateString() at @studyGroup.StartTime.ToShortTimeString()
                    Location: @studyGroup.Location
                </p>
                @Html.ActionLink("View Study Group", "View", new {id = studyGroup.Id}, new{@class="btn btn-primary"})
            </div>
        </div>
        }
    </div>
</div>
}
