
<h1>View Study Group</h1>
<h2>Group Title: @Model.GroupTitle</h2>
<button type="button" class="btn btn-link">Edit Form</button>
<ul style="list-style-type:none">
    <li>Date and Time: @Model.StartTime</li>
    <li>Duration: @Model.Duration</li>  <!--Fix duruation format -->
    <li>Location: @Model.Location</li>
    <li>Group Capacity: @Model.Capacity</li>
    <li>Objectives: @Model.Objectives</li>
</ul>
<button type="button" class="btn btn-primary">Cancel</button>
<button type="button" class="btn btn-primary">Join</button>