@model StudyGroupViewModel
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1>View Study Group</h1>
            @if(Model.IsCanceled){
                <div class="alert alert-danger" role="alert">
                    Group has been canceled by the group's leader!
                </div>
            }
            <h4>@Model.GroupTitle</h4>
            <h6><strong>Course:</strong> @Model.Course</h6>
            <h6><strong>Date:</strong> @Model.DateTime.ToShortDateString()</h6>
            <h6><strong>Time:</strong> @Model.DateTime.ToShortTimeString()</h6> 
            <h6><strong>Duration:</strong> @Model.Duration.Hours hour(s)</h6>  
            <h6><strong>Location:</strong> @Model.Location</h6>
            <h6><strong>Group Capacity:</strong> @Model.MemberCount of @Model.Capacity</h6>
            <h6><strong>Objectives:</strong> @Model.Objectives</h6>
            @if(!Model.IsCanceled){
                <div class="row justify-content-end">
                @if(Model.IsOwner){
                    @Html.ActionLink("Edit","Edit", new{id = Model.Id}, new{@class="btn btn-secondary"})
                    @Html.ActionLink("Cancel","Cancel", new{id = Model.Id}, new{@class="btn btn-danger"})
                }
                @if(!Model.IsOwner && !Model.HasJoined){
                    @Html.ActionLink("Join","Join", new{id = Model.Id}, new{@class="btn btn-success"})
                }
                @if(!Model.IsOwner && Model.HasJoined){
                    @Html.ActionLink("Leave","Leave", new{id = Model.Id}, new{@class="btn btn-warning"})
                }
                </div>
            }
        </div>
    </div>
</div>
